## Dataset: https://CRAN.R-project.org/package=AmesHousing

In [1]:
import pandas as pd

p = pd.read_csv('../data/ames_housing.csv')

## Data Exploration

In [2]:
p

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [3]:
p = p.drop(['PID', 'Order'], axis=1)

In [4]:
p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MS SubClass      2930 non-null   int64
 1   MS Zoning        2930 non-null   object
 2   Lot Frontage     2440 non-null   float64
 3   Lot Area         2930 non-null   int64
 4   Street           2930 non-null   object
 5   Alley            198 non-null    object
 6   Lot Shape        2930 non-null   object
 7   Land Contour     2930 non-null   object
 8   Utilities        2930 non-null   object
 9   Lot Config       2930 non-null   object
 10  Land Slope       2930 non-null   object
 11  Neighborhood     2930 non-null   object
 12  Condition 1      2930 non-null   object
 13  Condition 2      2930 non-null   object
 14  Bldg Type        2930 non-null   object
 15  House Style      2930 non-null   object
 16  Overall Qual     2930 non-null   int64
 17  Overall Cond     2930 non-null   int64
 18  Year Built       2930 non-null   int64
 19  Year Remod/Add   2930 non-null   int64
 20  Roof Style       2930 non-null   object
 21  Roof Matl        2930 non-null   object
 22  Exterior 1st     2930 non-null   object
 23  Exterior 2nd     2930 non-null   object
 24  Mas Vnr Type     1155 non-null   object
 25  Mas Vnr Area     2907 non-null   float64
 26  Exter Qual       2930 non-null   object
 27  Exter Cond       2930 non-null   object
 28  Foundation       2930 non-null   object
 29  Bsmt Qual        2850 non-null   object
 30  Bsmt Cond        2850 non-null   object
 31  Bsmt Exposure    2847 non-null   object
 32  BsmtFin Type 1   2850 non-null   object
 33  BsmtFin SF 1     2929 non-null   float64
 34  BsmtFin Type 2   2849 non-null   object
 35  BsmtFin SF 2     2929 non-null   float64
 36  Bsmt Unf SF      2929 non-null   float64
 37  Total Bsmt SF    2929 non-null   float64
 38  Heating          2930 non-null   object
 39  Heating QC       2930 non-null   object
 40  Central Air      2930 non-null   object
 41  Electrical       2929 non-null   object
 42  1st Flr SF       2930 non-null   int64
 43  2nd Flr SF       2930 non-null   int64
 44  Low Qual Fin SF  2930 non-null   int64
 45  Gr Liv Area      2930 non-null   int64
 46  Bsmt Full Bath   2928 non-null   float64
 47  Bsmt Half Bath   2928 non-null   float64
 48  Full Bath        2930 non-null   int64
 49  Half Bath        2930 non-null   int64
 50  Bedroom AbvGr    2930 non-null   int64
 51  Kitchen AbvGr    2930 non-null   int64
 52  Kitchen Qual     2930 non-null   object
 53  TotRms AbvGrd    2930 non-null   int64
 54  Functional       2930 non-null   object
 55  Fireplaces       2930 non-null   int64
 56  Fireplace Qu     1508 non-null   object
 57  Garage Type      2773 non-null   object
 58  Garage Yr Blt    2771 non-null   float64
 59  Garage Finish    2771 non-null   object
 60  Garage Cars      2929 non-null   float64
 61  Garage Area      2929 non-null   float64
 62  Garage Qual      2771 non-null   object
 63  Garage Cond      2771 non-null   object
 64  Paved Drive      2930 non-null   object
 65  Wood Deck SF     2930 non-null   int64
 66  Open Porch SF    2930 non-null   int64
 67  Enclosed Porch   2930 non-null   int64
 68  3Ssn Porch       2930 non-null   int64
 69  Screen Porch     2930 non-null   int64
 70  Pool Area        2930 non-null   int64
 71  Pool QC          13 non-null     object
 72  Fence            572 non-null    object
 73  Misc Feature     106 non-null    object
 74  Misc Val         2930 non-null   int64
 75  Mo Sold          2930 non-null   int64
 76  Yr Sold          2930 non-null   int64
 77  Sale Type        2930 non-null   object
 78  Sale Condition   2930 non-null   object
 79  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(26), object(43)
memory usage: 1.8+ MB

In [5]:
p.nunique()

MS SubClass         16
MS Zoning            7
Lot Frontage       128
Lot Area          1960
Street               2
                  ...
Mo Sold             12
Yr Sold              5
Sale Type           10
Sale Condition       6
SalePrice         1032
Length: 80, dtype: int64

In [6]:
p.isnull().sum()

MS SubClass         0
MS Zoning           0
Lot Frontage      490
Lot Area            0
Street              0
                 ...
Mo Sold             0
Yr Sold             0
Sale Type           0
Sale Condition      0
SalePrice           0
Length: 80, dtype: int64

In [7]:
p.describe()

,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2930.000000,2440.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2907.000000,2929.000000,2929.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,57.387372,69.224590,10147.921843,6.094881,5.563140,1971.356314,1984.266553,101.896801,442.629566,49.722431,...,93.751877,47.533447,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068
std,42.638025,23.365335,7880.017759,1.411026,1.111537,30.245361,20.860286,179.112611,455.590839,169.168476,...,126.361562,67.483400,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357
min,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,20.000000,58.000000,7440.250000,5.000000,5.000000,1954.000000,1965.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000
50%,50.000000,68.000000,9436.500000,6.000000,5.000000,1973.000000,1993.000000,0.000000,370.000000,0.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000
75%,70.000000,80.000000,11555.250000,7.000000,6.000000,2001.000000,2004.000000,164.000000,734.000000,0.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000
max,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1526.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

In [8]:
# - https://www.kaggle.com/code/murilozangari/jobs-data-field-2024-eda-salary-estimation

# Check for duplicates
duplicate_rows = p[p.duplicated()]

# Print the number of duplicates
num_duplicates = duplicate_rows.shape[0]
print(f"Number of duplicate rows:", num_duplicates, "\nPercentege from the total:", round(num_duplicates/len(p),3)*100)

Number of duplicate rows: 0
Percentege from the total: 0.0

# Preprocessing

In [9]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split, GridSearchCV, cross_validate
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

# Separate the target variable from the predictors
X = p.drop('SalePrice', axis=1)  
# Set target variable
y = p['SalePrice']  

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=17)

# Identify categorical columns
categorical_cols = X.select_dtypes(include=['object']).columns.tolist()

# Identify numerical columns
numerical_cols = X.select_dtypes(include=['int64', 'float64']).columns.tolist()

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Create preprocessor
preprocessor = ColumnTransformer(transformers=[('cat', categorical_transformer, categorical_cols), ('passthrough', 'passthrough', numerical_cols)])

# Create the XGBoost regressor
model = XGBRegressor()

# Create the pipeline with preprocessor and model
regressor = Pipeline(steps=[('preprocessor', preprocessor), ('model', model)])

# XGBoost using grid search

In [10]:
import time

# as proposed by https://doi.org/10.1007/s00521-019-04566-2 and https://doi.org/10.1007/s10064-022-02708-w
param_grid = {
    'model__min_child_weight': [1, 5, 10],
    'model__gamma': [0, 0.2, 0.5, 1, 1.5, 2, 5],
    'model__subsample': [0.6, 0.8, 1.0],
    'model__colsample_bytree': [0.6, 0.8, 1.0],
    'model__max_depth': [3, 4, 5, 6],
    'model__learning_rate': [0.01, 0.05, 0.1], 
    'model__n_estimators': [100, 200, 300, 400, 500]
}

# Initialize grid search
grid_search = GridSearchCV(regressor, param_grid, cv=5, n_jobs=-1, verbose=1)

start_time = time.time()
grid_search.fit(X_train, y_train)
end_time = time.time()

Fitting 5 folds for each of 11340 candidates, totalling 56700 fits

In [11]:
# Retrieve best parameters
print("Optimal Configuration:", grid_search.best_params_)

# Validate the model
cv_results = cross_validate(grid_search.best_estimator_, X_train, y_train, cv=5, scoring='r2')
avg_cv_result = np.mean(np.abs(cv_results['test_score']))

print(abs(cv_results['test_score']))
print(avg_cv_result)

Optimal Configuration: {'model__colsample_bytree': 0.6, 'model__gamma': 0, 'model__learning_rate': 0.1, 'model__max_depth': 4, 'model__min_child_weight': 1, 'model__n_estimators': 500, 'model__subsample': 0.6}
[0.93020851 0.91186813 0.91657422 0.91688623 0.92176613]
0.9194606435989039

In [12]:
# Calculate the test metrics
test_predictions = grid_search.predict(X_test)
test_rmse = np.sqrt(mean_squared_error(y_test, test_predictions))
test_r2 =r2_score(y_test, test_predictions)

print("Test RMSE Score:", test_rmse)
print("Test NRMSE score:", test_rmse / (y.max() - y.min()))
print("Test R2 Score:", test_r2)
print(f"Tuning completed in: {end_time-start_time:.6f} seconds.")

Test RMSE Score: 21495.6028720891
Test NRMSE score: 0.02896157948627695
Test R2 Score: 0.9301108606959477
Tuning completed in: 4684.911342 seconds.